.bg1{
    background-image: url('./assets/headerbg.jfif');
    background-repeat: no-repeat;
}
.bgbody{
    background-image: url('./assets/4.png');
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
}

